# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CGlab1/.vs/CGlab1/v15
/CGlab1/Debug
/CGlab1/Release
/CGlab1/x64
/.vs
/Lab1/.vs/Lab1/v15
/Lab1/Debug
/Lab1/x64/Debug
/Debug
/Release
/x64
/Lab1/Release
/Lab1/x64/Release
/Lab2/Debug
/Lab2/Release
/Lab2/x64
